{% extends "healthdata/base.jinja2" %}

{% block head_title %}HealthAround.me{% endblock %}
{% block page_title_elem %}{% endblock %}
{% block content_container %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to HealthAround.me</h1>
    <p>
        HealthAround.me is an open source, web based, geo enabled health data
        mapping &amp; visualization tool to aggregate disparate public health
        data from multiple sources.
    </p>
    <div class="row text-center">
      <p><a class="btn btn-primary btn-lg" role="button"
            href="{{ url('try_it') }}">Try it</a></p>
      <p><a href="https://github.com/CivicNinjas/HealthAround.me">See the Source</a>
    </div>
  </div>
</div>
{% endblock %}
