{% extends "healthdata/base.jinja2" %}

{% block head_title %}Healthgeist{% endblock %}
{% block page_title_elem %}{% endblock %}
{% block content_container %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Healthgeist</h1>
    <p>
        Healthgeist is an open source, web based, geo enabled health data
        mapping &amp; visualization tool to aggregate disparate public health
        data from multiple sources.
    </p>
    <div class="row text-center">
      <p><a class="btn btn-primary btn-lg" role="button"
            href="https://github.com/CivicNinjas/SitegeistHealth">
            See the source</a></p>
    </div>
  </div>
</div>
{% endblock %}
