# Standard python stuff
*.pyc
*.swp
*~

# Developer overrides
settings_override.py

# Downloaded data
data/shapefiles/*.zip
!data/census/cache/.keep
data/census/cache/*

# Server and deployment folders
src/*
static/*
