# Standard python stuff
*.pyc
*.swp
*~

# Developer overrides
settings_override.py

# Downloaded data
data/shapefiles/*.zip
data/shapefiles/.imported_states_list
!data/census/cache/.keep
data/census/cache/*

# Server and deployment folders
src/*
static/*

# Test files
.coverage
htmlcov
